{
  "plugins": [
    ["module-resolver", { "root": ["./src"] }],
  ],
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current" // Required to handle async/await.
        }
      }
    ], 
    "flow"],
}
